 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 532px;
}

.u-section-1 .u-text-1 {
  margin: 126px auto 0 15px;
}

.u-section-1 .u-image-1 {
  width: 297px;
  height: 300px;
  margin: 7px 126px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -291px 509px 0 15px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 22px auto 60px 15px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -275px;
    margin-right: 500px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 31px;
    margin-left: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 156px;
    margin-left: 52px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -60px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -215px;
    margin-right: 391px;
    margin-left: 53px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 859px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 124px;
    margin-left: 84px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 15px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 365px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 14px;
    margin-bottom: 49px;
    margin-left: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 895px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 130px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 9px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: 0;
    margin-left: 22px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 13px;
    margin-bottom: 60px;
    margin-left: 22px;
  }
}